body {
  font-family: 'Open Sans', sans-serif;
  color: black;
}

.xy {
        position:absolute;
        top:10px;
        left:20px;
        font-size:2em;
        color: springgreen;
}

.xz {
        position:absolute;
        top:610px;
        left:20px;
        font-size:2em;
        color: springgreen;
}

.yz {
        position:absolute;
        top:10px;
        left:620px;
        font-size:2em;
        color: springgreen;
}

.btn{
    color: cadetblue;
}

.control{
  position: absolute;
  top: 608px;
  left: 608px;
  width: 590px;
  height: 590px;
  padding-top: 10px;
  padding-left: 10px;
  right: 0px;
  bottom: 0px;
  display: inline;
  color: #9a9a9a;
  background: #2b2a2a;
}

#postext, #iatext{
  display:inline-block;
  width: 40px;
}