body {
  font-family: 'Open Sans', sans-serif;
  color: black;
}
.text {
        position:absolute;
        top:10px;
        left:20px;
        font-size:2em;
        color: springgreen;
}
.btn{
    color: cadetblue;
}

.control{
  display: inline;
}


#postext, #iatext{
  display:inline-block;
  width: 40px;
}